<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ERSDemoTim</display-name>
  <!-- Register Servlets -->
  <servlet>
    <description></description>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>revature.web.DispatcherServlet</servlet-class>
    <!-- load servlet when the applciation starts -->
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <!-- Setup mapping -->
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
</web-app>